<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/SiRASS</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.generate_statistics">false</property>
        <property name="hibernate.use_sql_comments">false</property>
    <!--    <property name="hibernate.cache.use_second_level_cache">true</property>
    <property name="hibernate.cache.use_query_cache">true</property>-->
    <!-- Mapeo de clases -->
        <mapping class="com.sirass.model.Usuario" resource="com/sirass/model/hbm/Usuario.hbm.xml"/>
        <mapping class="com.sirass.model.Rol" resource="com/sirass/model/hbm/Rol.hbm.xml"/>
        <mapping class="com.sirass.model.Prestador" resource="com/sirass/model/hbm/Prestador.hbm.xml"/>
        <mapping class="com.sirass.model.Administrador" resource="com/sirass/model/hbm/Administrador.hbm.xml"/>
        <mapping class="com.sirass.model.Institucion" resource="com/sirass/model/hbm/Institucion.hbm.xml"/>
        <mapping class="com.sirass.model.CInstitucion" resource="com/sirass/model/hbm/CInstitucion.hbm.xml"/>
        <mapping class="com.sirass.model.Plantel" resource="com/sirass/model/hbm/Plantel.hbm.xml"/>
        <mapping class="com.sirass.model.prestador.ControlHoras" resource="com/sirass/model/hbm/ControlHoras.hbm.xml"/>
        <mapping class="com.sirass.model.prestador.EstadoReporte" resource="com/sirass/model/hbm/EstadoReporte.hbm.xml"/>
        <mapping class="com.sirass.model.prestador.RegistroHora" resource="com/sirass/model/hbm/RegistroHora.hbm.xml"/>
        <mapping class="com.sirass.model.programass.ProgramaSS" resource="com/sirass/model/hbm/ProgramaSS.hbm.xml"/>
        <mapping class="com.sirass.model.prestador.InformeBimensual" resource="com/sirass/model/hbm/InformeBimensual.hbm.xml"/>
        <mapping resource="com/sirass/model/hbm/Inscripcion.hbm.xml"/>
        <mapping resource="com/sirass/model/hbm/EstadoInscripcion.hbm.xml"/>
        <mapping resource="com/sirass/model/hbm/TipoInscripcion.hbm.xml"/>
        <mapping resource="com/sirass/model/hbm/TipoPrograma.hbm.xml"/>
        <mapping resource="com/sirass/model/hbm/AlcancePrograma.hbm.xml"/>
        <mapping resource="com/sirass/model/hbm/PoblacionPrograma.hbm.xml"/>
        <mapping resource="com/sirass/model/hbm/Dia.hbm.xml"/>
        <mapping resource="com/sirass/model/hbm/ResponsablePrograma.hbm.xml"/>
        <mapping resource="com/sirass/model/hbm/ActividadPrograma.xml"/>
        <mapping class="com.sirass.model.programass.HorarioPrograma" resource="com/sirass/model/hbm/HorarioPrograma.hbm.xml"/>
        <mapping resource="com/sirass/model/hbm/TipoTiempoPrograma.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
